# Pull Data from Database

#Run the docker instance using
```
docker-compose -f docker/docker-compose_test.yml up -d --build test_database
```

Run the Engine using 
```
python3 ml_api/run.py
```
Go to the FastAPI Swagger UI - http://localhost:5000/  and make few requests to insert data into the database

In [14]:
from sqlalchemy import create_engine
import pandas as pd
import json

In [15]:
db_uri = "postgres+psycopg2://user:password@localhost:6609/ml_api"

In [16]:
print(db_uri)

postgres+psycopg2://user:password@localhost:6609/ml_api

In [17]:
engine = create_engine(db_uri)

In [18]:
sql_df = pd.read_sql_table("clip_model_predictions",con = engine)

In [19]:
sql_df

,id,user_id,datetime_captured,model_version,inputs,outputs
0,1,007,2022-10-11 21:48:52.509982+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
1,2,007,2022-10-11 21:49:38.467523+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
2,3,007,2022-10-11 21:49:39.977046+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
3,4,007,2022-10-11 21:49:41.282909+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
4,5,007,2022-10-11 21:53:25.790688+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
5,6,007,2022-10-11 21:53:27.019234+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
6,7,007,2022-10-11 21:53:28.344126+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
7,8,007,2022-10-11 21:53:29.896477+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."
8,9,007,2022-10-11 21:59:50.113236+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9..."

In [20]:
  def extract(rows,):
    result = rows["outputs"]
    rows["alt"] = result[0]["alt"]
    sql_df["src"] = result[0]["src"]
    rows['name'] = result[0]["name"]
    rows['img_url'] = result[0]["img_url"]
    rows['score'] = result[0]["score"]
    return rows

In [21]:
#extract fields
sql_df.apply(extract,axis=1)

,id,user_id,datetime_captured,model_version,inputs,outputs,alt,name,img_url,score
0,1,007,2022-10-11 21:48:52.509982+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
1,2,007,2022-10-11 21:49:38.467523+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
2,3,007,2022-10-11 21:49:39.977046+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
3,4,007,2022-10-11 21:49:41.282909+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
4,5,007,2022-10-11 21:53:25.790688+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
5,6,007,2022-10-11 21:53:27.019234+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
6,7,007,2022-10-11 21:53:28.344126+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
7,8,007,2022-10-11 21:53:29.896477+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349
8,9,007,2022-10-11 21:59:50.113236+00:00,0.1.0,string,"[{'alt': 0.29, 'src': 'data:img/jpeg;base64,/9...",0.29,c40f2956,https://storage.googleapis.com/fsdl_images/sem...,0.287349