# Pull Data from Database

#Run the docker instance using
```
docker-compose -f docker/docker-compose_test.yml up -d --build test_database
```

Run the Engine using 
```
python3 ml_api/run.py
```
Go to the FastAPI Swagger UI - http://localhost:5000/  and make few requests to insert data into the database

In [14]:
from sqlalchemy import create_engine
import pandas as pd
import json

In [7]:
db_uri = "postgres+psycopg2://test_user:password@localhost:6608/ml_api_test"

In [8]:
print(db_uri)

postgres+psycopg2://test_user:password@localhost:6608/ml_api_test

In [9]:
engine = create_engine(db_uri)

In [13]:
sql_df = pd.read_sql_table("clip_model_predictions",con = engine)

In [17]:
sql_df

,id,user_id,datetime_captured,model_version,inputs,outputs
0,1,007,2022-10-11 05:46:07.248328+00:00,0.1.0,string,"[{'alt': 0.22, 'src': 'data:img/jpeg;base64,/9..."

In [33]:
  def extract(rows,):
    result = rows["outputs"]
    sql_df["alt"] = result[0]["alt"]

In [35]:
#extract fields
sql_df.apply(extract,axis=1)

,id,user_id,datetime_captured,model_version,inputs,outputs,score,alt,iamge_path,image_name,corpus_id
0,1,007,2022-10-11 05:46:07.248328+00:00,0.1.0,string,"[{'alt': 0.22, 'src': 'data:img/jpeg;base64,/9...",0.216754,0.22,"data:img/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABA...",1eReB1OKOr0.jpg,0